<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  
<table mat-table [dataSource]="dataSource">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID 
      <div>
        <mat-form-field>
    <input matInput class="form-field" [formControl]="idFilter" placeholder="ID Filter">
  </mat-form-field>
        </div>
    </th>
    <td mat-cell *matCellDef="let ipdata"> {{ipdata.id}} </td>
    
  </ng-container>

  <!-- Region Column -->
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef> Region 
      <div>
        <mat-form-field>
    <input matInput class="form-field" [formControl]="regionFilter" placeholder="ID Filter">
  </mat-form-field>
        </div>
    </th>
    <td mat-cell *matCellDef="let ipdata"> {{ipdata.region}} </td>
  </ng-container>
 <!-- countryName Column -->
 <ng-container matColumnDef="countryName">
  <th mat-header-cell *matHeaderCellDef> Country Name  <div>
    <mat-form-field>
<input matInput class="form-field" [formControl]="countryNameFilter" placeholder="Country Name Filter">
</mat-form-field>
    </div></th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.countryName}} </td>
</ng-container>
 <!-- cityName Column -->
 <ng-container matColumnDef="cityName">
  <th mat-header-cell *matHeaderCellDef> City Name 
    <div>
      <mat-form-field>
  <input matInput class="form-field" [formControl]="cityNameFilter" placeholder="cityName Filter">
  </mat-form-field>
      </div>
  </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.cityName}} </td>
</ng-container>
 <!-- seatCapacity Column -->
 <ng-container matColumnDef="seatCapacity">
  <th mat-header-cell *matHeaderCellDef> Seat Capacity  </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.seatCapacity}} </td>
</ng-container>

 <!-- userOccupancy Column -->
 <ng-container matColumnDef="userOccupancy">
  <th mat-header-cell *matHeaderCellDef> User Occupancy </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.userOccupancy}} </td>
</ng-container>
 <!-- ipsubnet Column -->
 <ng-container matColumnDef="ipsubnet">
  <th mat-header-cell *matHeaderCellDef> ipsubnet </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.ipsubnet}} </td>
</ng-container>

<!-- dhcpserver Column -->
<ng-container matColumnDef="dhcpserver">
  <th mat-header-cell *matHeaderCellDef> dhcpserver </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.dhcpserver}} </td>
</ng-container>
 <!-- dhcpserverHostname Column -->
 <ng-container matColumnDef="dhcpserverHostname">
  <th mat-header-cell *matHeaderCellDef>dhcpserverHostname  </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.dhcpserverHostname}} </td>
</ng-container>

 <!-- supportGroup Column -->
 <ng-container matColumnDef="supportGroup">
  <th mat-header-cell *matHeaderCellDef> supportGroup </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.supportGroup}} </td>
</ng-container>
 <!-- areaName Column -->
 <ng-container matColumnDef="areaName">
  <th mat-header-cell *matHeaderCellDef> areaName </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.areaName}} </td>
</ng-container>
 <!-- buildingName Column -->
 <ng-container matColumnDef="buildingName">
  <th mat-header-cell *matHeaderCellDef> buildingName </th>
  <td mat-cell *matCellDef="let ipdata"> {{ipdata.buildingName}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>